
<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="initial-scale=1.0, user-scalable=no">

<title><%=restaurant.name%></title>
<style>
  /* Always set the map height explicitly to define the size of the div
   * element that contains the map. */
  #map {
    height: 100%;
  }
  /* Optional: Makes the sample page fill the window. */
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
</style>
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">


<script>
function goBack() {window.history.back();}
</script>



<div class="w3-container w3-teal">
  <h1><%=restaurant.name%></h1>
</div>
<% if(restaurant.data != ''){ %>
<img src="data:<%=restaurant.mimetype%>;base64,<%=restaurant.data%>" class="w3-image w3-border w3-padding" style="width:100%"/><br/>
<% } %>
<div class="w3-container">

<label class="w3-label w3-validate">Borough: </label><%=restaurant.borough%><p></p>
<label class="w3-label w3-validate">Cuisine: </label><%=restaurant.cuisine%><p></p>
<label class="w3-label w3-validate">Street: </label><%=restaurant.address.street%><p></p>
<label class="w3-label w3-validate">Building: </label><%=restaurant.address.building%><p></p>
<label class="w3-label w3-validate">Zipcode: </label><%=restaurant.address.zipcode%><p></p>
<label class="w3-label w3-validate">GPS: </label>[<%=lat%>,<%=lon%>]<p></p> 
<label class="w3-label w3-validate">Rating: </label><p></p>

  <ol>
	<% for (var j in restaurant.grades) { %>
      	<li><%=restaurant.grades[j].score%> (<%=restaurant.grades[j].user%>)</li>
	<% } %>
  </ol>

<p>
<label class="w3-label w3-validate">Created by: </label><%=restaurant.userid%><p></p>
</div>

  <%if(lat!="" && lon!=""){%>

  <a href="/gmap?lat=<%=lat%>&lon=<%=lon%>&title=<%=restaurant.name%>">Google Map</a>
<% } %>

 
<div class="w3-container">

<a href="/rate?_id=<%=restaurant._id%>&amp;ampname=<%=restaurant.name%>" style="text-decoration: none">
    <button class="w3-btn w3-section w3-teal w3-ripple">Rate</button>
</a>


<a href="/change?_id=<%=restaurant._id%>" style="text-decoration: none">
  <button class="w3-btn w3-section w3-teal w3-ripple">Edit</button>
</a>
<a href="/remove?_id=<%=restaurant._id%>" style="text-decoration: none">
  <button class="w3-btn w3-section w3-teal w3-ripple">Delete</button>
</a>

<button class="w3-btn w3-section w3-teal w3-ripple" onclick="goBack()">Go Back</button>
</div>


</stype>
</body>

</html>
